*{
    margin: 0;
}
/* body *{
    box-sizing: border-box;
} */
.div-body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center ;
    align-items: center;

}
.column{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.card-primeira{
    margin-top: 12vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 10px;
    
}
.format-image{
    display: flex;
    flex-direction: row;
}
.format-image > img{
    height: 100px;                              
}
.text{
    width: 66%;
}
.text > span{
    color: rgba(157, 49, 146, 1);
}
.card-segunda{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;    
    
}
.card-segunda-01{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgba(0, 49, 64, 1);
    color: #fff;
    
}

h1 {
    color: rgba(0, 49, 64, 1);
}
.card-box{
    display: flex;
    flex-direction: row;
    

}
.text-box{
    text-align: justify;
    padding: 3vh;
}
.card-box > img{
    width: 50%;
    
}
.card-segunda-01 > h3{
    padding: 20px 10px;
}

.gif{
    width: 50vh;
    margin-left: 57.2vw; 
    margin-top: -31vh; 
    border-radius: 8px;
}

.text-h3{
    font-weight: normal;
}

.cloudstax-name{
    color: rgb(196, 0, 196);
}
