*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

header{
    display: flex;
    width: 97.9%;
    height: 8vh;
    /* background-color: rgb(100, 0, 100); */
    background-image: linear-gradient(to right, rgb(196, 0, 196), rgb(116, 0, 116));
    color: white;
    align-items: center;
    padding: 2.5vh;
    font-size: large;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    width: 19vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5.5vh;
    cursor: pointer;
}

.header-logo a{
    text-decoration: none;
    color: #fff;
}

.header-img{
    width: 35%;
}

.header-name{
    font-size: 4.2vh;
}

.header-menu{
    display: flex;
    margin-right: 9vh;
    justify-content: space-between;
}

.header-option{
    margin: 1vh;
    cursor: pointer;
    font-size: 1.5vw;
}

.header-option:hover{
    transition: 0.1s;
}

.header-menu a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after{
    width: 100%; 
    left: 0; 
}

.div-body{
    display: flex;
    height: 85vh;
    justify-content: space-between;
}

.div-left-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    height: 100%;
    padding: 0vh 8vh;
    font-size: 27px;
}

.div-right-body{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 100vh;
}

.div-right-body img{
    width: 100%;
    height: 100%;
}

.purple-button{
    width: 29vh;
    height:10.5vh;
    padding: 10px 10px;
    border-radius: 1vh;
    border: 0;
    background-color: rgb(175, 0, 175);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 70%;
}   

.purple-button:hover{
    background-color: rgb(133, 0, 133);
    transition: 0.2s;
}